#contImg {
    background-color: #7FC6AF;
    border: 2px solid #47B191;
    width: 7%;
    height: 6em;
    border-radius: 100%;
    margin: auto;
}

#contImg img{
    display: block;
    margin: auto;
    width: 5em;
    height: 5em;
}

#divUsuario  h1{
    text-align: center;
    margin: auto;
    background-color: #7FC6AF;
    color: #FFFFFF;
    border-radius: 2em;
    margin-top:4%;
    margin-bottom: 4%;
    width: 30%;
    font-weight: normal;
    font-family: "Roboto";
}
.botonUsuario{
    background-color: #7FC6AF;
    /* height: 2em; */
    /* width: 100%; */
    border-radius: 2em;
    border: none;
    padding: 14px;
}

.botonUsuario:hover{
    background-color: #055d41cc;
}

.botonUsuario a{ 
    color: #FFFFFF;
}

#divUsuario div:nth-child(3), #divUsuario div:nth-child(4) {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}


@media screen and (max-width:1051px) {
    #divUsuario  h1{
        width: 33%;
    }
    
}
@media only screen and (max-width: 1300px) {
    #contImg {
        height: 6em;
        width: 10%;
    }    
    #contImg img{    
        width: 5em;
        height: 5em;
    } 

}

@media only screen and (max-width: 890px) {
    #contImg {
        width: 12%;
    }   
    #divUsuario div:nth-child(3), #divUsuario div:nth-child(4) {
        display: flex;
        flex-direction: column;
        width: 80%;
        /* padding: 10px; */
        justify-content: center;
        align-items: center;
    }

    .botonUsuario{
        background-color: #7FC6AF;
        /*height: 2em;*/
        width: 30%;
        border-radius: 2em;
        margin: auto;
        margin: 10px;
        border: none;
    }
    
}

@media only screen and (max-width: 790px) {
    #contImg {
        width: 16%;
    }    
    #divUsuario  h1{
        width: 44%;
        font-size: 4vw;    }
    
}

@media only screen and (max-width: 570px) {
    #contImg {
        width: 20%;
    }  
    .botonUsuario{
        width: 70%;
    }
}

@media only screen and (max-width: 450px) {
    #contImg {
        width: 40%;
    }  
    .botonUsuario{
        width: 80%;
    }
    #divUsuario  h1{
        /*width: 100%;*/
    }
}




