*{
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-----------------------PUBLICIDAD111111-----------------------*/
#publicidad22 {
    margin-top: 130px;
    margin-bottom: 10%;
    position: relative;
}
#publicidad22 img {
    width: 100%;
    margin-top: 100px;


}
#publicidad22 button {
    position: absolute;
    left: 73%;
    bottom: 11%;
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    height: 2.5em;
    background-color:transparent;
    width: 10%;

}

@media only screen and (max-width: 860px) {
    #publicidad22 button {
        height: 2em;

        width: 10%;
    
    }
    #publicidad22 button a{
        font-size: x-small;
    }


}

@media only screen and (max-width: 700px) {
    #publicidad22 button {

        width: 10%;
        height: 1.5em;
    }
    #publicidad22 button a{
        font-size: xx-small;
    }


}

@media only screen and (max-width: 450px) {
    #publicidad22 button {
        height: 1em;
        padding-bottom: 1em;
    }
    #publicidad22 button a{
        font-size: 60%;
    }


}

#publicidad22 button a{
    color: #FFFFFF;
}
#titulo1{
    background-color: #3ec59d;
    color: #FFFFFF !important;
    border-radius: 2em;
    text-align: center;
    width: 40%;
    margin: auto;
    /* height: 4em; */
    /* padding-top: 2%; */
    /* margin-bottom: 10%; */
}


#publi {
    position: relative;
}
#publi img{
    width: 100%;
}
#publiBlock{
    font-size: 132%;
    position: absolute;
    top: 29%;
    right: 3%;
   /* border: 2px solid black;*/
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    background-color: #f9bd4f;
    width: 31%;
    height: 46%;
}
#publiBlock h1{
    color: #FFFFFF; 
    position: absolute;
    left: -7%;
    top: 15%;
}
#publiBlock h2{
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 34%;
}

#promocio{
    text-align: center;
    color: black;
    padding-top:70px ;
}
.botonMarcas{
    position: absolute;
    top: 85%;
    left: 67%;
    width: 27%;
    height: 15%;
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    text-align: center;
    padding-top: 1%;
}
.botonMarcas a{
    color: #FFFFFF;
}
/*/----------------PUBLICIDAD1111111--------------*/

/* ------------------------AÑADIENDO EL POPUP COOKIESS -----------------------*/


.aviso-cookies{
    display: none;
    background: #fff;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 300px;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    bottom: 30%;
    left: 40%;
    /* right: 50%; */
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(222,222,222, .25);
    text-align: center;
}

.aviso-cookies.activo{
    display: block;
}


.aviso-cookies .galleta{
    max-width: 100px;
    position: absolute;
    top: -45px;
    left:calc(50% - 50px);
}

.aviso-cookies .enlace{
    border:none;
    width: 100%;
    background-color: #4DBFFF;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.aviso-cookies .enlace:hover{
    text-decoration: underline;
}


.aviso-cookies #btn-aceptar-cookies{
    border:none;
    width: 100%;
    font-weight: 700;
    background-color: #595959;
    color: #fff;
    padding: 15px 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: .3s ease all;
    font-size: 14px;
}

.aviso-cookies #btn-aceptar-cookies:hover{
    background:#000;
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo{
    
    margin-bottom: 15px;
    

}

.fondo-aviso-cookies{
    display: none;
    background:rgba(0,0,0,.20);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

}

.fondo-aviso-cookies.activo {
    display: block;
    
}

/* ------------------------AQUI TERMINA  EL POPUP COOKIESS -----------------------*/



/*/----------------MAS INFORMACION EN HOME-------------- PONERLOOOOOO GUARDARRRRR*/

#info-home{
    display: flex;
    justify-content: space-around;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1650px;
}

#info-home img{
    width: 45%;
    margin: auto;
}
 #titulo1 {
    text-align: center;
    color: black;
    font-size: 22px;
    padding: 13px;
}

#container-paragrag{
    /* display: flex;
    justify-content: space-around;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1650px; */

    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 20px; */
    width: 100%;
    max-width: 1650px;
}


#container-paragrag p{
    /* margin: auto;
    width: 45%;
    

    line-height: 1.75em;
    margin-bottom: 40px; */

    /* margin: auto;  */
    width: 45%;
    line-height: 1.75em;
    margin-bottom: 40px;
    display: flex;
    padding: 1px;
}




/*/----------------MAS INFORMACION EN HOME-------------- PONERLOOOOO GUARDARR*/


/*--------------CONTENEDOR DE QUEIENES SOMOS-------------*/
.container-quienes{
    margin: auto;
    padding: 45px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin-top: 144px;
}


.container-quienes img{
    margin: 0px;
    z-index: auto;
    width: 100%;;
    height: 364px;
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
 
    transform: translateX(-1px) translateY(0px);
    filter: none;
    margin-bottom:50px ;
    border-radius: 7px;
}
.container-quienes > h1{
    padding-bottom: 15px;
    font-family: "Manrope";
    font-weight: normal;
    background-color: #47B191;
    padding: 4px 0 4px 10px;
    max-width: 270px;
    width: 100%;
    border-radius: 15px;
    color: white;
    margin-bottom: 45px;

}

.container-quienes > h2{
    font-family: "Manrope";
    font-weight: normal;
    background-color: #47B191;
    padding: 4px 0 4px 10px;
    max-width: 170px;
    width: 100%;
    border-radius: 15px;
    color: white;
    margin-bottom: 50px;
}
.container-quienes > p{
    line-height: 30px;
    padding-bottom: 36px;
}
.vision{
    display: flex;
    justify-content: space-around;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.vision p{
    line-height: 30px;
    padding-bottom: 36px;
    margin: auto auto auto 43px;
}
.vision img{
    width: 45%;
    margin: auto;
    border-radius: 7px;
}


@media screen and (max-width:768px) {

    .vision{
        display: flex;
       
        flex-direction: column;
    }
    
    .vision img{
        width: 100%;
        
    }
    .vision p{
        margin: auto ;
        margin-top: 40px;
    }
}

/*---------------CONTENEDOR DE QUEIENES SOMOS--------*/

/*---------------CONTENEDOR TENGO PROBLEMA-----------*/
.container-problema{
    display: flex;
    margin: 0 auto;
    padding: 45px;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.container-problema h1{
    font-family: "Manrope";
    font-weight: normal;
    background-color: #47B191;
    max-width: 281px;
    border-radius: 15px;
    padding: 4px 0 4px 15px;
    margin-bottom: 40px;
    color: white;
}


.container-problema > p{
    line-height: 30px;
    
}

.container-problema > h2{
    font-family: "Manrope";
    font-weight: normal;
    background-color: #47B191;
    max-width: 261px;
    border-radius: 15px;
    color: white;
    padding: 4px 0 4px 15px;
    margin-bottom: 20px;
}


/* Media Queries for Responsive Design */
/*@media screen and (min-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        margin-top: 25px;
    }

    p {
        padding-top: 25px;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 2em;
    }
}*/
/*//----------------CONTENEDOR TENGO PROBLEMA------------*/

/*---------------PUBLICIDADDD--22222-----------------------*/

.publi{
    padding: 45px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
#marcas {
    margin-left: 2%;
   display: flex;
   flex-wrap: wrap;
   /*flex-direction: column;*/
   }
   
   #marcas img {
       width: 85%;
       height: 10em;
   }
   
   .publicidad {
       
       font-family: "Manrope";
       font-weight: normal;
       margin-bottom: 35px;
       background-color: #47B191;
        max-width: 291px;
        border-radius: 15px;
        color: white;
        padding: 4px 0 4px 15px;

   }


   /*----------------/PUBLICIDADDD--2222--------------*/

   /*LOGINNN*/

   
/* ---------------PAGINA LOGIN----------------- */

#registro{
    width: 100%;
}
#registro form{
    margin: auto;
}
#contenedor{
    display: flex;
    min-height: 100vh;
    /* height: 100%; */
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #ffffff;
    flex-direction: column;

    
}


#formulario{
    width: 100%;
    max-width: 450px;
    padding: 68px 25px;
    /* background-color: #CCECE3; */
    /* box-shadow: 0 1px 2px #1e3a29; */
    border-radius: 25px;

}
#formulario input[type="text"] , input[type="password"]{
    font-size: 100%;
    color: black;
    margin: 5px 0;
    padding: 10px;
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #E7E7E7;
    border: none;

}
.register  > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #a29292;
    margin-top: 10px;
    text-align: center;
}

#buttonLogin {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: white;
    width: 100%;
    max-width: 150px;
    margin: 40px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #3ec59d;
    cursor: pointer;
}

.form {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 0 10px;
}

.form > a {
    display: block;
    text-decoration: none;
    color: #a29292;
    padding: 5px 0 0 0;
}

.container_login{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
}

.login{
    font-size: 80px;
}

#divError{
    margin: auto;
    width: 25%;
    margin-top: 4%;
    text-align: center;
    color: red;
    border:2px solid red;
}
#ExitoRegistro{
    margin: auto;
    width: 25%;
    margin-top: 4%;
    text-align: center;
    color: green;
    border:2px solid green;
}


   /*/------------LOGINNN------------------*/

   /*--------------CONTENEDOR REGISTRATE-------------------*/

   .container-registro{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}   

.container-reg {
    box-shadow: 0 1px 2px #1e233a;
    /* margin: -32px; */
    /* padding: 30px; */
    padding: 19px;
    width: 100%;
    max-width: 500px;
}

.formulario-register{
    width: 100%;
    max-width: 600px;
    border-radius: 25px;
    padding: 100px;
}

.signup{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
}


.formulario-register input{
    display: block;
    border-radius: 15px;
    padding: 5px;
    margin: 6px 0;
    background-color: #E7E7E7;
    width: 100%;
    height: 40px;
    border: none;
}

.formulario-register button{
    width: 100%;
    display: flex;
    max-width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #3EC59D;
    color: white;
    border: none;
    margin: 40px auto auto auto;
    border-radius: 15px;
}
   
   /*/--------------CONTENEDOR REGISTRATE-------------------*/



   /*----------------CONTENEDOR DE PREGUNTAS FREQUENTES------------*/
.container-preguntas{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 44px;
    line-height: 34px;
}


.container-preguntas > h1{
    font-family: "Manrope";
    font-weight: normal;
    background-color: #47B191;
    border-radius: 15px;
    max-width: 350px;
    margin-bottom: 19px;
    padding: 4px 0 4px 15px;
    color: white;
    }

   .pregunta > h3{
    line-height: 34px;
    border: 1px solid #ebeaea ;
    /* border-radius: 10px; */
    /* text-align: center; */
    padding: 8px 0 8px 15px;   
    margin: 15px 0 15px 0;
    box-shadow: 0 3px 2px #c7c2c2;
    font-family: "Manrope";

}
   
   /*----------------CONTENEDOR DE PREGUNTAS FREQUENTES------------*/



/*------------------CONTENEDOR DE CARRITO-------------*/

.container-carrito{
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 143px;
    contain: paint;/*oara ocultar lo que hay fuera del contenedor*/


}

.header-titulo
{
    margin-bottom: 40px;
    margin-left: 8%;
    background-color: #47B191;
    padding: 10px;
    max-width: 310px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    margin-top: 200px;
}

.header-titulo h1{
    color: white;
    font-family: 'Manrope';
    font-weight: normal;
}


.container-carrito .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap:30px;
    width: 70%;
    transition: .3s;

} 

.container-carrito .contenedor-items .item{
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.container-carrito .item .img-item{
    width: 100%;
}

.contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}   


.contenedor-items .item  .precio{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color:#439A97;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}


/* PARTE DE CARRITO */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition:.3s;
    
}

.carrito .header-carrito{
    background-color: #439A97;
    color: #fff;
    text-align: center;
    padding: 30px 0;

}

.carrito .carrito-elemento{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-elemento img{
    margin-right: 20px;

}

.carrito .carrito-elemento .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-elemento .cantidad{
    display: inline-block;
    margin-right: 25px;

}

.carrito .carrito-elemento .carrito-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-elemento .cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-elemento .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-elemento .boton-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    columns:#000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background-color: transparent;
    z-index: 20;
}

.carrito .carrito-elemento .boton-eliminar i {
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
} 

.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom:10px ;
}


.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #439A97;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}





/* seccion responsive */

@media screen and (max-width:850px){
    .container-carrito{
        display: block;
    }

    .contenedor-items{
        width: 100% !important;
    }

    .carrito{
        width: 100%;
    }
}






 
/*  */





/*/-----------------CONTENEDOR DE CARRITO---------------*/

/*--------------CONTENEDOR DE AVISO LEGAL-------------*/



.container-aviso{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 45px;
    box-shadow: 0px 1px 2px #1e233a;
    border: 1px solid #ebeaea;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-aviso {
    padding-bottom: 25px;
    line-height: normal;
    line-height: 1.75em;
    font-family: "Manrope";
    text-align: justify;
}

.parrafo-aviso{
    padding-bottom: 25px;
    line-height: normal;
    line-height: 1.75em;
    font-weight: normal;
    text-align: justify;
}
/*--------------CONTENEDOR DE AVISO LEGAL-------------*/