/*Tabla de proteinas----cambiarla a la nueva version de ernest*/
#divTablaProteina {
    /*margin: auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 1200px; */
    padding: 45px 20px;
    text-align: center;
    margin-top: 143px;
}




/* #divTablaProteina form {
    margin-left: 0;
    /* width: 40%; */
    /* margin-bottom: 5%; 
} */

/* 
#divTablaProteina .btn_anadir{
    background-color: #000;
} */

.form-buscar-user {
    border: 2px solid black;
    padding: 10px;
}

#divTablaProteina table th {
    background-color: #0e1119;
    color: #fff;
    padding: 10px;
}

#divTablaProteina  table tr:nth-child(odd) {
    background-color: #81bee5;
}


#divTablaProteina  h1 {
    text-align: center;
    color: #FFFFFF;
    background-color: #79B4E3;
    border-radius: 6px;
    /* margin-top: 5%; */
    width: 100%;
    text-align: center;
    max-width: 326px;
    padding: 4px;
    /* font-size: calc(15px + 0.25vw); */
    font-weight: normal;
    font-family: Manrope;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

table {
    width: 100%;
}


 #divTablaProteina table td {
    color: #000;
    border-spacing: 4px;
    border-collapse: separate;
    padding: 5px;
    text-align: center;
    /* font-size: calc(8px + 0.5vw); */
}

#divTablaProteina .td-btn {
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    padding: 0;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#divTablaProteina #anadirButton{
    background-color:#0e1119;
    width: 26%;

}


#divTablaProteina button,
#divTabla button[name="registrarse"]{
    /*margin-top: 5%; */
    background-color: #b8d0e3;
    border-radius: 4px;
    width: 100%;
    /* height: 2em; */
    padding: 16px 10px;
    /* max-width: 274px; */
    border: none;

}

#divTabla button[name="registrarse"]{
    background-color:#97DECE;
    padding: 11px;
    cursor: pointer;
}


#divTablaProteina button[name="registrarse"]{
    background-color:#a2c1e7;
}



#divTablaProteina button[type="submit"]:hover{
    background-color: #214f70cc;
    color: white;
}


#divTabla #anadir button[type="submit"],
#divTablaProteina button[type="submit"]{
    color: #999;
    transition: .3s;
}



#divTablaProteina button a{/*Este es el enlace , forma de boton de redireccion a login desde lista de proteinas*/
    color: #FFFFFF;
}

#divTabla #anadir button[type="submit"]:hover{
    background-color: #439A97;
    color: white;
    scale: 1.05;

}


.conjunto-buscar-anadir{
    display: flex;
    /* width: 54%; */
    justify-content: space-between;
    gap: 38px;
}


  /*/Tabla de proteinas*/

  
/*----------------Tabla de medicamentos---------------*/

#divTabla {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 1200px; */
    padding: 45px 20px;
    text-align: center;
    margin-top: 143px;

}

.contenedor-botones{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}


#anadirButton{
    width: 26% ;/*!important*/
    background-color: #439A97;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    transition: .3s;
}



#anadirButton:hover{
    background-color: #055d41cc;
    scale: 1.05;
}

#divTablaProteina #anadirButton:hover{
    background-color: #214f70cc;
    scale: 1.05;
    
}


/* .btn_anadir{
    background: #439A97;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: white;
    border-radius: 4px;
} */

.fa-user-plus:before {
    content: "\f234";
}

.fa-solid, .fas {
    font-weight: 900;
}

#divTabla form{
    margin-left: 0;
    /* width: 40%; */

}

#divTabla #anadir
{
    /*width: 100%; */
    width: 443px;
    /* max-width: 43%; */
    display: none;
    /* flex-direction: column; */
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    text-align: center;
    margin-bottom: 55px;
    border: 1px solid black;
    margin: auto;
    border-radius: 15px;
    background-color: #D9F8F1;
    /* flex-wrap: wrap;*/
}


#divTablaProteina #anadir{
    width: 443px;
    /* max-width: 43%; */
    display: none;
    /* flex-direction: column; */
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    text-align: center;
    margin-bottom: 55px;
    border: 1px solid black;
    margin: auto;
    border-radius: 15px;
    background-color: #d0e3f6;
}



#divTabla form .anadir-usuario,
#divTablaProteina form .anadir-usuario
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* ESTILO PARA EL SELECT DE TIPO DE ROL */
#divTabla  #rol{
    width: 100%;
    height: 45%;
    padding: 9px;
    border-radius: 5px;
    background: #97DECE;
    border: none;
    color: #999;
}

#divTabla  #rol option{
    color: black;
}





#divTabla .anadir-usuario .input-box,
#divTablaProteina form .anadir-usuario .input-box
{
    width: calc(100% / 2 - 20px);
    margin: 10px;
    text-align: left;

}

.anadir-usuario .input-box input

{
    width: 100%;
    height: 45%;
    padding: 9px;
    border-radius: 5px;
    background: #97DECE;
    border: none;
}

#divTabla h1 {
    text-align: center;
    color: #FFFFFF;
    background-color: #7FC6AF;
    border-radius: 6px;
    /* margin-bottom: 5%; */
    /* margin-top: 5%; */
    width: 100%;
    text-align: center;
    max-width: 326px;
    padding: 4px;
    /* font-size: calc(15px + 0.25vw); */
    font-weight: normal;
    font-family: Manrope;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    border-radius: 20px;
    margin-top: 100px;

}

#divTabla #tabla-user td,
#divTabla #tabla_medicamento td{
    color: #000;
    border-spacing: 4px;
    border-collapse: separate;
    padding: 5px;
    text-align: center;
    /* font-size: calc(8px + 0.5vw); */

}
#divTabla #tabla_medicamento td{
    padding: 2px;

}





#divTabla #tabla-user th,
#divTabla #tabla_medicamento th
{
    background-color: #439A97;
    color: #fff;
    padding: 10px;
}

table tr:nth-child(odd){
    background-color: #97DECE;
    
}

#divTabla > a,
#divTablaProteina a
{
    margin-top: 5%;
    background-color: #7FC6AF;
    border-radius: 6px;
    width: 100%;
    /* height: 2em; */
    padding: 17px 0;
    max-width: 274px;
    border: none;
    color: white;
    transition: .3s;

}

#divTabla > a:hover{
    background-color: #055d41cc;
    scale: 1.05;
}


#divTablaProteina a{
    background-color: #0e1119;
}

#divTablaProteina a:hover{
    background-color: #214f70cc;
    scale:1.05;
}


.btn-busqueda-proteina,/*le cambie la clase al boton de buscar de la proteina para que tenga otro color de fondo*/
 .btn-busqueda{
    color: white;
    border: 2px solid black;
    background-color: #439A97;
    /* border: 2px solid green; */
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}

.btn-busqueda-proteina{
    background-color: #000;
}

.btn-busqueda-proteina:hover{
    background-color: #214f70cc;
    scale:1.05
}

.btn-busqueda:hover{
    background-color: #055d41cc;
    scale: 1.05;
}

 .form-busqueda{
    display: flex;
    float: right;
    background-color: initial;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid gray;

    
}

.form-busqueda .input-busqueda{
    display: flex;
    width: 100%;
    border: 2px solid black;
    padding: 10px

}


#divTabla button a{
    color: #FFFFFF;
}

/* PARA LOS BOTONES DE MODIFICAR Y ACTUALIZAR DE LAS TABLAS CUANDO EL USER SE LOGEA COMO ADMINISTRADOR */

#divTabla .td-btn{
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    padding: 0;
    /* justify-content: center; */
    height: 100%;
    align-items: center;
}

.btn-mod-act
{
    display: flex;
    /* flex-direction: column; */
    padding: 0;
    justify-content: CENTER;
}




.modificar{ /*para tabla => boton de usuario*/
    background-color: #35a631;
    color: white;
    padding: 10px;
    /* height: 100%; */
    margin-right: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: .3s;

}

.eliminar{/*para tabla => boton de usuario*/
    width: 100%;
    /* height: 100%; */
    background-color: #ae3636;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: .3s;

}

/* HOVER PARA BOTON DE MODIFICAR Y ELIMINAR DE TABLA PROTEINA */
#divTablaProteina .eliminar:hover,
#divTablaProteina .modificar:hover
{
    background-color:#5c8db4;
    scale: 1.05;
}

/* HOVER BOTONES DE MODIFI Y ELIMINAR DE USUARIO Y MEDICAMENTOS */
#divTabla .modificar:hover,
#divTabla .eliminar:hover{
    scale: 1.05;
}


.modificar-med{ /*para tabla => boton de MEDICAMENTO*/
    background-color: #35a631;
    color: white;
    padding: 26px;
    height: 100%;
    margin-right: 2px;
    width: 100%;
    border: none;
    transition: .3s;


}

.eliminar-med{/*para tabla => boton de MEDICAMENTO*/
    width: 100%;
    height: 100%;
    background-color: #ae3636;
    color: white;
    padding: 26px;
    border: none;
    transition: .3s;

}

/* 
 .modificar-prot{ 
    background-color: #1f469d;
    color: white;
    padding: 13px;
    height: 100%;
    margin-right: 2px;
    width: 100%;
    border: none;
    transition: .3s;


}

.eliminar-prot{
    width: 100%;
    height: 100%;
    background-color: #ae3636;
    color: white;
    padding: 13px;
    border: none;
    transition: .3s;

}  */


#divTabla table td:last-child{
    background-color: #fff;
    }

    /*TABLA MODIFICAR*/
    #tablaModificar{
        display: none;
    }

    /* #tablaModificar form td #nombreMod{
        width: 135px;
    } */
    #tablaModificar td input{
        width: 100%;
        border: none;
        padding: 5px ;
        text-align: center;
        background-color: #5ebebb;
    }

    #tablaModificar td input[type='submit']{
        color: #fff;
        cursor: pointer;
        transition: .3s;
        border-radius: 4px;
        background-color:#439A97;
        padding: 6px;

    }
    #tablaModificar td input[type='submit']:hover{
        scale: 1.09;
    }

   


/*AQUI TERMINA  LOS BOTONES DE MODIFICAR Y ACTUALIZAR DE LAS TABLAS CUANDO EL USER SE LOGEA COMO ADMINISTRADOR */




/* RESPONSIVE TABLA DE MEDICAMENTOS */
@media screen and (max-width:1277px){
    #divTabla table td:last-child {
        padding: 10px;
        background-color: initial;
        justify-content: initial;
    }
    #tabla_medicamento tr{
        display: flex;
        flex-direction: column;
    }
    
    #tabla_medicamento thead {
        display: none;
    }

    #tabla_medicamento .clase_tbody{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 30px;
        width: 100%;
        transition: .3s;
    }
    #divTabla #tabla_medicamento td[titulo]{
        display: flex;
        padding: 10px;
        border: 1px solid black;
    }

    #tabla_medicamento td[titulo]{
        border: 1px solid ;
    }
    #tabla_medicamento td[titulo]::before {
        content: attr(titulo);
        padding: 0 10px 0 0;
        font-weight: bold;
        text-transform: uppercase;

    }

    /* #tabla_medicamento > .inchi{
        text-align: left;
    } */
    #tabla_medicamento .td-btn button{
        max-width: 130px;
        padding: 6px;
    }
}
/* AQUI TERMINA EL RESPONSIVE DE LA TABLA MEDICAMENTOS */



     /* RESPONSIVE TABLAS DE USUARIO */

     @media screen and (max-width:1267px){
        #divTabla table td:last-child,
        #divTablaProteina table td:last-child {
            padding: 10px;
            background-color: initial;
            justify-content: initial;
        }

        #tabla-user tr,
        #tabla_proteina tr {
            display: flex;
            flex-direction: column;
        }

        #tabla-user thead,
        #tabla_proteina thead {
            display: none;
        }
    
        #tabla-user .clase_tbody,
        #tabla_proteina .clase_tbody{
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: 30px;
            width: 100%;
            transition: .3s;
        }

        #divTabla #tabla-user td[titulo],
        #divTablaProteina #tabla_proteina td[titulo]{
            display: flex;
            padding: 10px;
            border: 1px solid black;
        }

        #tabla_proteina td[titulo]{
            border: 1px solid ;
        }
        
        #tabla-user td[titulo]::before,
        #tabla_proteina td[titulo]::before {
            content: attr(titulo);
            padding: 0 10px 0 0;
            font-weight: bold;
            text-transform: uppercase;

        }

        #tabla_proteina .td-btn button{
            max-width: 130px;
            padding: 6px;
        }


    }
    /* ESTA ES LA TABLA DE MODIFICAR YA SEA USUARIO O MEDICAMENTOS */
    @media screen and (max-width:1000px){
        
        #tablaModificar{
            width: 100%;
        }

        #tablaModificar thead{
            display: none;
        }

        #tablaModificar tr{
            display: flex;
            flex-direction: column;
        }

        #tablaModificar td[titulo]{
            display: flex;
            padding: 10px;
            border: 1px solid black;
        }

        #tablaModificar td[titulo]::before {
            content: attr(titulo);
            padding: 0 10px 0 0;
            font-weight: bold;
            text-transform: uppercase;

        }
    }


    


  /*/Tabla de proteinas*/

     @media screen and (max-width:1210px){
        
        /* #divTabla table td,
        #divTabla table th,
        #divTabla table td button
         {
            font-size: 1vw;
        } */

       
    }

    /* RESPONSIVE PARA BOTONES DE AÑADIR USUARIO. MEDICAMENTO Y PROTEINA */
   
    @media screen and (max-width:825px){
        
        #divTabla .contenedor-botones,
        #divTablaProteina .contenedor-botones
        {
            display: flex;
            flex-direction: column;
        }

        #divTabla .conjunto-buscar-anadir,
        #divTablaProteina .conjunto-buscar-anadir{
            display: flex;
            flex-direction: column;
            margin-top: 30px;

        }

        #divTabla .conjunto-buscar-anadir .form-busqueda,
        #divTablaProteina .conjunto-buscar-anadir .form-busqueda{
            width: 38%;
        }

        /* #divTabla .conjunto-buscar-anadir .form-busqueda .botones-filtrar{
            width: ;
        } */

    }


    @media screen and (max-width:535px){
        #divTabla .conjunto-buscar-anadir .form-busqueda,
        #divTabla .conjunto-buscar-anadir .botones-filtrar,
        #divTablaProteina .conjunto-buscar-anadir .form-busqueda,
        #divTablaProteina .conjunto-buscar-anadir .botones-filtrar{
            width: 100%;
        }

        /* #divTabla .conjunto-buscar-anadir .form-busqueda .botones-filtrar{
            width: 100%;
        } */
        #divTabla h1,
        #divTabla a,
        #divTablaProteina h1,
        #divTablaProteina a{
            width: 100%;
            max-width: none;
        }

        #divTabla #anadirButton,
        #divTablaProteina #anadirButton{
            width: 100%;
        }

        #compEliminarUsuario{
            /* width: none; */
            width: 100%;

        }


    }



    /* @media screen and (max-width:700px){
        #divTabla .contenedor-botones {
            display: flex;
            flex-direction: column;
            display: contents;
        }

       /* .botones-filtrar .input-busqueda[type='text'] {
            width: 100%;
        } -------------------------------FALTAAAAAAAAAAAAAAAAAAAAAAA´-----------

        
    } */





    /*ESTILO PARA EL Formulario para elimiar usuario,nedicamento,proteina de las tablas*/
    #compEliminarUsuario{
        display: none;
        max-width: 440px;
        /* background: red; */
        border: 1px solid black;
        border-radius: 7px;
        padding: 14px;
    
    }
   
    #compEliminarUsuario input[type='submit'] {
        padding: 7px;
        background-color: #439A97;
        border: none;
        color: white;
        border-radius: 4px;
        margin-top: 23px;
        transition: .3s;
        cursor: pointer;
    }

    #divTablaProteina #compEliminarUsuario input[type='submit']{
        background-color: red;
    }

    #compEliminarUsuario input[type='submit']:hover{
        scale: 1.05;
    }

    /* AQUI TERMINA ESTILO DEL PEQUEÑO FORMULARO DE ELIMINAR USUARIO */
/*
  @media screen  and (max-width:922px){
    #divTablaProteina{
        width: 80%;
        padding: 10px;
    }
    #divTablaProteina {
        width: 80%; 
        padding: 20px; 
    }

    #divTablaProteina h1 {
        font-size: 3vw;
    }

    #divTablaProteina table,
    #divTablaProteina table td,
    #divTablaProteina table th {
        max-width: 100%; 
        box-sizing: border-box; 
        font-size: 80%; 
    }

    #divTablaProteina table th,
    #divTablaProteina table td {
        padding: 5px; 
    }
    #divTablaProteina button{
        width: 48%;
    }
    #divTablaProteina button  a{
        font-size: 2vw;
    }

   

  } */



     /*SECION DE MEDICAMENTOS Y USUARIOS*/

  /* @media screen and (max-width:936px){

    
    

    #divTabla h1 {
        font-size: 3vw;
    }

    #divTabla table,
    #divTabla table td,
    #divTabla table th,
    .modificar, .eliminar {
        max-width: 100%;
        box-sizing: border-box; 
        font-size: calc(8px + 0.5vw);
    }

    #divTabla table th,
    #divTabla table td {
        padding: 5px; 
    }
    
  }

  @media screen and (max-width:757px){
    #divTabla table,
    #divTabla table td,
    #divTabla table th,
    .modificar, .eliminar {
        max-width: 100%;
        box-sizing: border-box; 
        font-size: calc(5px + 0.5vw);
        
    }

    }

    .modificar, .eliminar {
        cursor: pointer;
    }

    #anadir{
        display: none;
    }
    #anadir input{
         /* width: 10% !important; he comentado esto por de momento 
         display: inline; 
    } */


