/*Tabla de proteinas----cambiarla a la nueva version de ernest*/
#divTablaProteina {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#divTablaProteina  h1 {
    text-align: center;
    color: #FFFFFF;
    background-color: #79B4E3;
    border-radius: 2em;
    margin-bottom: 5%;
    /* margin-top: 5%; */
    width: 100%;
    text-align: center;
    max-width: 326px;
    padding: 4px;
    /* font-size: calc(15px + 0.25vw); */
    font-weight: normal;
    font-family: Manrope;
    
}

table {
    width: 100%;
}


#divTablaProteina table, #divTablaProteina table td , #divTablaProteina table th{
    border: 2px solid #79B4E3;
    background-color:#b8d0e3 ;
    color: #FFFFFF;
    border-collapse: collapse;
    padding: 10px;
}
#divTablaProteina button{
    margin-top: 5%;
    background-color: #b8d0e3;
    border-radius: 2em;
    width: 100%;
    /* height: 2em; */
    padding: 6px;
    max-width: 274px;
    border: none;

}
#divTablaProteina button a{
    color: #FFFFFF;
}

  /*/Tabla de proteinas*/

  
  /*Tabla de medicamentos*/
#divTabla {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 1200px; */
    padding: 45px;
    text-align: center;
}

#divTabla form{
    margin-left: 0;
    width: 40%;
    margin-bottom: 5%;

}

#divTabla h1 {
    

    text-align: center;
    color: #FFFFFF;
    background-color: #7FC6AF;
    border-radius: 2em;
    margin-bottom: 5%;
    /* margin-top: 5%; */
    width: 100%;
    text-align: center;
    max-width: 326px;
    padding: 4px;
    /* font-size: calc(15px + 0.25vw); */
    font-weight: normal;
    font-family: Manrope; 
}

table{
    width: 100%;
    border-radius: 20px;

}

#divTabla table, #divTabla table td , #divTabla table th{
    border: 2px solid #47B191;
    /* background-color:#7FC6AF ; */
    color: #000;
    border-collapse: collapse;
    padding: 5px 10px;
}



#divTabla table th{
    background-color: #439A97;
    color: #fff;
    padding: 10px;
}

table tr:nth-child(odd){
    background-color: #97DECE;
    
}

#divTabla > button{
    margin-top: 5%;
    background-color: #7FC6AF;
    border-radius: 2em;
    width: 100%;
    /* height: 2em; */
    padding: 6px;
    max-width: 274px;
    border: none;

}


 .buscar-user{
    color: white;
    border: 2px solid black;
    background-color: #439A97; /* Fondo blanco */
    border: 2px solid green; 
    margin-left:10px ;
    padding:10px 20px;
}
.busqueda{
     border:2px solid black;
     width: 100%;
}


 .form-buscar-user{
    border: 2px solid black;
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start; /* Alinea el formulario a la izquierda */

    
}

.inputs-buscar-user{
    display: flex;
    width: 100%;
}


#divTabla button a{
    color: #FFFFFF;
}

/* PARA LOS BOTONES DE MODIFICAR Y ACTUALIZAR DE LAS TABLAS CUANDO EL USER SE LOGEA COMO ADMINISTRADOR */

#divTabla .td-btn{
background: white;
}

.btn-mod-act
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn-mod-act > input{
    color: white;
    border: 2px solid black;
    background-color: #439A97;
    padding: 10px 20px;
    /* border: none; */
    margin: 3px;
}

.btn-mod-act > .modificar{
    background-color: blue;
}

.btn-mod-act > .eliminar{
    background-color: red;
}
/*AQUI TERMINA  LOS BOTONES DE MODIFICAR Y ACTUALIZAR DE LAS TABLAS CUANDO EL USER SE LOGEA COMO ADMINISTRADOR */


  /*/Tabla de proteinas*/

  @media screen  and (max-width:768px){
    #divTablaProteina{
        width: 80%;
        padding: 10px;
    }
    #divTablaProteina {
        width: 80%; 
        padding: 20px; 
    }

    #divTablaProteina h1 {
        font-size: 3vw;
    }

    #divTablaProteina table,
    #divTablaProteina table td,
    #divTablaProteina table th {
        max-width: 100%; 
        box-sizing: border-box; 
        font-size: 80%; 
    }

    #divTablaProteina table th,
    #divTablaProteina table td {
        padding: 5px; 
    }
    #divTablaProteina button{
        width: 48%;
    }
    #divTablaProteina button  a{
        font-size: 2vw;
    }

   

  }

  @media screen and (max-width:1009px){
     /*SECION DE MEDICAMENTOS Y USUARIOS*/

    
    #divTabla {
    max-width: 1600px;
    padding: 10px;
    margin: 0 auto;
    }

    #divTabla h1 {
        font-size: 3vw;
    }

    #divTabla table,
    #divTabla table td,
    #divTabla table th {
        max-width: 100%;
        box-sizing: border-box; 
        font-size: 80%; 
    }

    #divTabla table th,
    #divTabla table td {
        padding: 5px; 
    }
    
  }